{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
    {eper, "0.9*", {git, "git://github.com/massemanet/eper.git", master}},
    {uuid, ".*", {git, "git://github.com/avtobiff/erlang-uuid.git", "v0.3.3"}}
]}.

{cover_enabled, true}.

{dialyzer_opts,
    [{warnings,
        [error_handling,
         race_conditions,
         behaviours]}]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               exports_not_used]}.
